<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<nav class= 'nav' >
			<!-- links to other pages -->
		<a href="/add">Post A Video</a>
		<a href="/show">My Videos</a>
		<a href="/logout">Log Out</a>	
	</nav>





	<!-- Page Title -->
	<h1 class='pageTitle'>All Videos</h1>




	<!-- Iterate through all vids in db and show them on this page -->
		<%for(let i = 0, len = videos.length; i < len; i ++ ){%>
			
				<div class=vidContainer>




					<!-- vid title -->
					<h5 class=vidTitle ><%=videos[i].title%></h5>




					<!-- video -->
					<iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%=videos[i].videoId%>?enablejsapi=1&origin" frameborder="0"></iframe>





					<!-- video title and description-->
				
					<h6><%=videos[i].description%></h6>




					<!-- Posted By ... -->
					<h5 class='postedBy'>Posted By <%=videos[i].user%></h5>






						<!-- like button -->
						<button class='likeBtn likeBtn2' id='<%=videos[i].videoId%>'>


							<!-- if the vid is liked by user in DB, we want the like button to be filled -->
							<% if( user.likedVideos.includes(videos[i].videoId) ){%>
								 <i class="fa fa-thumbs-up" style='color:white;' ></i> 
								 <!-- else unfill -->
							<%}else{%> 
								<i class="fa fa-thumbs-o-up" style='color:white;' ></i> 
							<%}%>



						</button>




					
						<!-- Number of likes -->
						<h5 id='numOfLikes' class= 'numOfLikes'> <%= videos[i].likes %> </h5>

					



				</div>
		
		<%}%>	





	<!-- jQuery -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src='/js/like.js'></script>
<script type="text/javascript" src='/js/sticky.js'></script>
 -->
</body>
</html>