<!DOCTYPE html>
<html>
<head>
	<title>Foo-App</title>
</head>
<body>
	<!-- links to other pages -->
	<a href="/add">Post A Video</a>
	<a href="/show">My Profile</a>
	<a href="/logout">log out</a>
	<header>Temporary Message: Welcome <%=firstName%> <%=lastName%></header>




	<!-- Iterate through all vids in db and show them on this page -->
		<%for(let i = 0, len = videos.length; i < len; i ++ ){%>
				
			<div>



				<!-- video -->
				<iframe id="player" type="text/html" src="http://www.youtube.com/embed/<%=videos[i].videoId%>?enablejsapi=1&origin" width="340" height="190" frameborder="0"></iframe>




				<!-- like button -->
				<button class='likeBtn' id='<%=videos[i].videoId%>'>
					<!-- if the vid is liked by user in DB, we want the like button to be filled -->
					<% if( user.likedVideos.includes(videos[i].videoId) ){%>
						 <i class="fa fa-thumbs-up" style='color:blue;' ></i> 
						 <!-- else unfill -->
					<%}else{%> 
						<i class="fa fa-thumbs-o-up" style='color:blue;' ></i> 
					<%}%>

				</button>
				
			
				<h6 id='numOfLikes'> <%= videos[i].likes %> </h6>

			</div>	
				
		<%}%>	





	<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src='/js/like.js'></script>

</body>
</html>